@model IntentoNetCore1.Models.DB.Paginas
@*
		Se basa en el modelo hecho en la parte de Models para crear un objeto con esos "atributos"*@
@{ ViewData["Title"] = "Borrar página"; }
<div class="imgBck">
		<img class="logo-trans" src="https://epagosmunicipio.ags.gob.mx/assets/2023/LogoMuni2023.png" />
</div>

<form class="new-page" action="BorrPag" method="post">
		<h2>Modificar Página</h2>
		<hr>
		<!--Toda la info debe ser tomada de la tabla-->
				<input style="display:none" asp-for="@Model.cla_pag" />
		<div class="sect" id="titles">
				<div class="info">
						<label>Título que aparecerá en el browser</label>
						<input class="textito" type="text" id="TituloBrowser" name="TituloBrowser" value="@Model.TituloBrowser" disabled>
				</div>
				<div class="info">
						<label>Título o encabezado de la pagina</label>
						<input class="textito" type="text" id="TituloEncabeza" name="TituloEncabeza" value="@Model.TituloEncabeza" disabled>
				</div>
				<div class="info">
						<label>A qué MENÚ PRINCIPAL al que pertenece</label>
						<select class="textito" id="cla_menupapa" name="cla_menupapa" disabled>
								@foreach (var menu in ViewBag.menupadre)
								{
		<option value="@menu.cla_menu">@menu.Menu</option>}
						</select>
				</div>
				<div class="info">
						<label>A que sección de MENÚ pertenece la página</label>
						<select class="textito" id="cla_menu" name="cla_menu" asp-for="@Model.cla_menu" disabled>
								<option selected>---------------------</option>
						</select>
				</div>
		</div>
		<div class="sect" id="dates">
				<div class="info">
						<label>Esta en Publicación</label>
						<select name="publicar" class="textito" id="publicar" disabled>

								@if (Model.publicar == "SI")
								{
										<option value="SI" selected>SI</option>
								}
								else
								{
										<option value="SI">SI</option>
								}
								@if (Model.publicar == "NO")
										{
												<option value="NO" selected>NO</option>
										}
								else
								{
										<option value="NO">NO</option>
								}
						</select>
				</div>
				<div class="info">
						<label>Fecha de Publicación	</label>
						<input type="datetime" name="fecha_publicacion" id="fecha_publicacion" class="textito"
									 placeholder="DD/MM/AAAA" value=@Model.fecha_publicacion disabled>
				</div>
				<div class="info">
						<label>Hora de Publicación</label>
						<input type="time" name="hora_publicacion" id="hora_publicacion" class="textito" placeholder="09:00" value=@Model.hora_publicacion disabled>
				</div>
				<div class="info">
						<label>Fecha de actualización</label>
						<input type="datetime" name="fecha_actualizacion" id="fecha_actualizacion" placeholder="DD/MM/AAAA" class="textito" value=@Model.fecha_actualizacion disabled>
				</div>
				<div class="info">
						<label>Fuente de Información</label>
						<input type="text" name="fuentepublica" id="fuente_publicacion" class="textito" value=@Model.fuente_publicacion disabled>
				</div>
		</div>
		<input type="submit" value="Borrar página" name="Borrar" id="Borrar" class="btn btn-danger">
</form>
@section scripts {

		<script type="text/javascript">
		$(document).ready(function () {
				$('#cla_menupapa').on('change', function () {

						$('#cla_menu option').remove();
						var cla_papaMenu = $('#cla_menupapa option:selected').val();
						if (cla_papaMenu != -1) {
								$.ajax({
										type: 'GET',
										url: '@Url.Action("BuscarSubmenus", "Secciones")/' + cla_papaMenu,
										success: function (result) {
												var s = '<option value="-1">Selecciona un submenú</option>';
												for (var i = 0; i < result.length; i++) {
														s += '<option value="' + result[i].id + '">' + result[i].nombre + '</option>';
												}
												$('#cla_menu').html(s);
										}
								});
						}
				});
		});
		</script>

		<script>
				$(document).ready(function () {
						$.ajax({
								type: 'GET',
								/*url: { cla_papa: cla_papaMenu },*/
								url: '@Url.Action("BuscarSubmenus", "Secciones")/' + cla_papaMenu,
								success: function (result) {
										var s = '<option value="-1">Selecciona un submenú</option>';
										for (var i = 0; i < result.length; i++) {
												s += '<option value="' + result[i].id + '">' + result[i].nombre + '</option>';
										}
										$('#cla_menu').html(s);
								}
						});
				});
		</script>

		


		<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.2/jquery-confirm.min.js"></script>
		<script>
				$.alert("PRECAUCIÓN, SE BORRARÁ TAMBIÉN EL CONTENIDO DE LA PÁGINA")
		</script>
		
<script>
				$('input[type=submit]').confirm({
						title: 'Advertencia',
						content: 'Está a punto de borrar esta página junto con todo contenido dependiente de ella ¿Está seguro de querer proceder?',
						buttons: {
								Cancelar: function () {
										//Nada
								},
								Eliminar: {
										text: 'Eliminar',
										btnClass: 'btn-danger',
										keys: ['enter', 'shift'],
										action: function () {
												$('.new-page').submit();
												$.alert('@Model.TituloEncabeza ha sido eliminada');
										}
								}
						}
				});
		</script>

}