@model IEnumerable<IntentoNetCore1.Models.DB.Contenido>
@*Se basa en el modelo hecho en la parte de Models para crear un objeto con esos "atributos"*@
@{
		ViewData["Title"] = "Contenidos";
}

<head>
		<link rel="stylesheet" type="text/css" href="~/css/style.css" />
</head>
<form>
		<div class="Titulo">
				<div class="ContenidoTitulo">
            <h2>Contenidos</h2>
        </div>
        <div class="btn-agregarEnTabla">
						<a id="agregar_contenido" class="btn btn-dark" type="submit" href="@Url.Action("AgregarSeccionContenidoNueva","Secciones", new { cla_pag = ViewBag.Pagina.cla_pag })">Agregar Nuevo contenido</a>
        </div>
				<hr>
    </div>
		<div class="table-responsive">
				<table id="tabla" class="table table-striped table-bordered table-hover">
						<thead class="thead-dark">
								<tr>
										<th scope="col">
												Id
										</th>
										<th scope="col">
												Titulo
										</th>
										<th scope="col">
												Contenido
										</th>
										<th scope="col">
												Editar...
										</th>
										<th scope="col">
												Borrar...
										</th>
								</tr>
						</thead>
						<tbody>
								<!--Recorre el modelo de la clase menus creada en el controldador-->
								@foreach (var item in Model)
								{
										<tr>
												<td>
														@item.ID_Contenido
												</td>
												<td>
														@item.Titulo
												</td>
												<td>
														@if (item.contenido.Length > 149)
														{
																@item.contenido.Substring(0, 150);
														}
														else
														{
																@item.contenido;
														}
												</td>
												<td>
														<a class="btn btn-dark" type="submit" href="@Url.Action("ModificarSeccionContenido","Secciones", new { ID_Contenido = item.ID_Contenido })">
																Editar Contenido
														</a>
												</td>
												<td>
														<a class="btn btn-danger" type="submit" href="@Url.Action("BorrarSeccionContenido","Secciones", new { ID_Contenido = item.ID_Contenido })">
																Borrar Contenido
														</a>
												</td>
										</tr>
								}
						</tbody>
				</table>
		</div> 
</form>