@model IntentoNetCore1.Models.DB.Contenido
@*//Se basa en el modelo hecho en la parte de Models para crear un objeto con esos "atributos"*@

@{ ViewData["Title"] = "Modificar Contenido"; }

<form class="new-page" action="ModContenido" method="post">
		<h2>Modificar Sección de contenido nueva</h2>
		<hr />
		<div class="sect">
				<div class="info">
						<label>Folio Automático de Esta Sección (único):</label>
						<input disabled readonly type="text" class="textito" value="@Model.ID_Contenido" /><!--Tanto este valor como los demás deben ser tomados del registro del menú a modificar-->
						<input style="display:none" readonly type="text" class="textito" name="ID_Contenido" id="ID_Contenido" asp-for="ID_Contenido" value="@Model.ID_Contenido" /><!--Tanto este valor como los demás deben ser tomados del registro del menú a modificar-->
				</div>
				<div class="info">
						<label>Orden que se presenta este contenido dentro de la página</label>
						<input type="text" class="textito" name="Orden" id="Orden" asp-for="Orden" value="@Model.Orden" />
				</div>
				<div class="info">
						<label>Título del contenido</label>
						<input type="text" class="textito" name="Titulo" id="Titulo" asp-for="Titulo" value="@Model.Titulo" />
				</div>
				<div class="info">
						<textarea class="textito" id="contenido" name="contenido" asp-for="contenido" placeholder="Agregue el contenido aquí">@Model.contenido</textarea>
				</div>
				<input type="submit" value="Modificar Sección de contenido Nueva" name="Agregar" class="btn btn-dark">
		</div>
</form>
