@model IntentoNetCore1.Models.DB.Paginas
@*@model IEnumerable<IntentoNetCore1.Models.DB.Menus>*@
@*
		Se basa en el modelo hecho en la parte de Models para crear un objeto con esos "atributos"*@
@{
		ViewData["Title"] = "Modificar página";
}
<form class="new-page" action="ModPag" method="post">
		<h2>Modificar Página</h2>
		<hr>
		<!--Toda la info debe ser tomada de la tabla-->
		<div class="sect" id="titles">
				<div class="info">
						<label>Id:</label>
						<input class="textito" typeof="text" id="cla_pag" name="cla_pag" value="@Model.cla_pag" readonly asp-for="@Model.cla_pag">
				</div>
				<div class="info">
						<label>Título que aparecerá en el browser</label>
						<input class="textito" type="text" id="TituloBrowser" name="TituloBrowser" value="@Model.TituloBrowser">
				</div>
				<div class="info">
						<label>Título o encabezado de la pagina</label>
						<input class="textito" type="text" id="TituloEncabeza" name="TituloEncabeza" value="@Model.TituloEncabeza">
				</div>
				<div class="info">
						<label>A qué MENÚ PRINCIPAL al que pertenece</label>

						<select class="textito" id="cla_menupapa" name="cla_menupapa" asp-for="@Model.cla_menupapa">

								<option selected value="@Model.cla_menupapa">Selecciona una opción</option>
								@foreach (var menu in ViewBag.menupadre)
								{
										<option value="@menu.cla_menu">@menu.Menu</option>
								}
						</select>
				</div>
				<div class="info">
						<label>A que sección de MENÚ pertenece la página</label>
						<select class="textito" id="cla_menu" name="cla_menu" asp-for="@Model.cla_menu">
								<option value="@Model.cla_menu" selected>---------------------</option>
								@foreach (var menu in ViewBag.subMenus)
								{
										<option value="@menu.cla_menu">@menu.Menu</option>
								}
						</select>
				</div>
		</div>
		<div class="sect" id="dates">
				<div class="info">
						<label>Esta en Publicación</label>
						<select name="publicar" class="textito" id="publicar">

								@if (Model.publicar == "SI")
								{
										<option value="SI" selected>SI</option>
								}
								else
								{
										<option value="SI">SI</option>
								}
								@if (Model.publicar == "NO")
								{
										<option value="NO" selected>NO</option>
								}
								else
								{
										<option value="NO">NO</option>
								}
						</select>
				</div>
				<div class="info">
						<label>Fecha de Publicación	</label>
						<input type="datetime" name="fecha_publicacion" id="fecha_publicacion" class="textito"
									 placeholder="DD/MM/AAAA" value=@Model.fecha_publicacion>
				</div>
				<div class="info">
						<label>Hora de Publicación</label>
						<input type="time" name="hora_publicacion" id="hora_publicacion" class="textito" placeholder="09:00" value=@Model.hora_publicacion>
				</div>
				<div class="info">
						<label>Fecha de actualización</label>
						<input type="datetime" name="fecha_actualizacion" id="fecha_actualizacion" placeholder="DD/MM/AAAA" class="textito" value=@Model.fecha_actualizacion>
				</div>
				<div class="info">
						<label>Fuente de Información</label>
						<input type="text" name="fuentepublica" id="fuente_publicacion" class="textito" value=@Model.fuente_publicacion>
				</div>
		</div>
		<input type="submit" value="Modificar página" name="Modificiar" id="Modificar" class="btn btn-dark">
</form>