@model IntentoNetCore1.Models.DB.Paginas
@*
		Hay que ver cómo añadir nuevos registros a la tabla Páginas
*@
@{ ViewData["Title"] = "Agregar pagina nueva"; }
<div class="imgBck">
		<img class="logo-trans" src="https://epagosmunicipio.ags.gob.mx/assets/2023/LogoMuni2023.png" />
</div>
<form class="new-page" action="PagNueva" method="post">
		<h2>Página Nueva</h2>
		<hr>
		<div class="sect" id="titles">
				<div class="info">
						<label>Título que aparecerá en el browser</label>
						<input class="textito" type="text" id="TituloBrowser" name="TituloBrowser" asp-for="@Model.TituloBrowser" required>
				</div>
				<div class="info">
						<label>Título o encabezado de la pagina</label>
						<input class="textito" type="text" id="TituloEncabeza" name="TituloEncabeza" asp-for="@Model.TituloEncabeza" required>
				</div>
				<div class="info">
						<label>A qué MENÚ PRINCIPAL al que pertenece</label>
						<select class="textito" id="cla_menupapa" name="cla_menupapa" asp-for="@Model.cla_menupapa">

								<option value="-1">Selecciona una opción</option>
								@foreach (var menu in ViewBag.menupadre)
								{
										<option value="@menu.cla_menu">@menu.Menu</option>
								}
						</select>
				</div>
				<div class="info">
						<label>A que sección de MENÚ pertenece la página</label>
						<select class="textito" id="cla_menu" name="cla_menu" asp-for="@Model.cla_menu">

								<option selected>---------------------</option>
						</select>
				</div>
		</div>
		<div class="sect" id="dates">
				<div class="info">
						<label>Esta en Publicación</label>
						<select name="publicar" class="textito" id="publicar" asp-for="@Model.publicar">

								<option value="SI" selected>SI</option>

								<option value="NO">NO</option>

						</select>
				</div>
				<div class="info">
						<label>Fecha de Publicación	</label>
						<input type="datetime-local" name="fecha_publicacion" id="fecha_publicacion" class="textito"
									 placeholder="DD/MM/AAAA" asp-for="@Model.fecha_publicacion" required>
				</div>
				<div class="info">
						<label>Hora de Publicación</label>
						<input type="time" name="hora_publicacion" id="hora_publicacion" class="textito" placeholder="09:00" asp-for="@Model.hora_publicacion" required>
				</div>
				<div class="info">
						<label>Fecha de actualización</label>
						<input type="datetime-local" name="fecha_actualizacion" id="fecha_actualizacion" placeholder="DD/MM/AAAA" class="textito" asp-for="@Model.fecha_actualizacion" required>
				</div>
				<div class="info">
						<label>Fuente de Información</label>
						<input type="text" name="fuente_publicacion" id="fuente_publicacion" class="textito" asp-for="@Model.fuente_publicacion">
				</div>
		</div>
		<input disabled type="submit" value="Crear página" name="NuevaPag" id="NuevaPag" class="btn btn-dark">
</form>
@section scripts {

		<script type="text/javascript">
		$(document).ready(function () {
				$('#cla_menupapa').on('change', function () {
						$('#cla_menu option').remove();
						var cla_papaMenu = $('#cla_menupapa option:selected').val();
						if (cla_papaMenu != -1) {
								$.ajax({
										type: 'GET',
										url: '@Url.Action("BuscarSubmenus", "Secciones")/' + cla_papaMenu,
										success: function (result) {
												var s = '<option value="-1">Selecciona un submenú</option>';
												for (var i = 0; i < result.length; i++) {
														s += '<option value="' + result[i].id + '">' + result[i].nombre + '</option>';
												}
												$('#cla_menu').html(s);
												if ($('#cla_menu option:selected').val() == -1) {
														$('input[type=submit]').attr('disabled', 'disabled');
												} else {
														$('input[type=submit]').removeAttr("disabled");
												}
										}
								});
						}
						else {
								$('input[type=submit]').attr('disabled', 'disabled');
						}
				});
		});
		</script>

		<script>
				$(document).on('change', '#cla_menu', function (event) {
						$('input[type=submit]').removeAttr("disabled");
				});
				</script>

		<script>
				$(document).ready(function () {
						$.ajax({
								type: 'GET',
								/*url: { cla_papa: cla_papaMenu },*/
								url: '@Url.Action("BuscarSubmenus", "Secciones")/' + cla_papaMenu,
								success: function (result) {
										var s = '<option value="-1">Selecciona un submenú</option>';
										for (var i = 0; i < result.length; i++) {
												s += '<option value="' + result[i].id + '">' + result[i].nombre + '</option>';
										}
										$('#cla_menu').html(s);
								}
						});
				});
		</script>
}